<nav class="navbar navbar-default">
<div class="container-fluid">
    <ul class="nav navbar-nav">                
        <li><a routerLink="input" href="#">Input</a></li>
        <li><a routerLink="output" href="#">Output</a></li>
        <li><a routerLink="routing" href="#">Routing</a></li>
        <li><a routerLink="service/lista" href="#">Service</a></li>
        <li><a routerLink="signal" href="#">Signal</a></li>
        <li><a routerLink="subscribe" href="#">Subscribe</a></li>
        <li><a routerLink="forms" href="#">Forms</a></li>
        <li><a routerLink="test" href="#">Test</a></li>
    </ul>
</div>
</nav>