<h2>Enviar datos del Componente Hijo al Padre</h2>

<app-parent></app-parent>
<hr>

<h4>Definicion en el componente padre:</h4>
<div style="margin-bottom: 10px;">
  <img src="../../assets/OutputsEnElHtmlPadre.PNG" />
</div>
<p>'mensajeEvent' es el evento que emite el hijo.</p>
<div>
  <img src="../../assets/OutputsEnElTsPadre.PNG" />
</div>

<h4>Definicion en el componente hijo:</h4>
<div style="margin-bottom: 10px;">
  <img src="../../assets/OutputsEnElHtmlHijo.PNG" />
</div>
<div>
  <img src="../../assets/OutputsEnElTsHijo.PNG" />
</div>